/*-------------------*/
/* MAIN CSS ELEMENTS */
/*-------------------*/

:root {
  --bg-color: #025E5E;
  --text-color: #FFC524;
  --text-highlight: #AFCAE9;
  --text-wrong: #b63530;
  --text-correct: #FEDFCA;
  --cursor-col: #b63530;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    font-family: Monaco, monospace;
    font: Comfortaa, "Roboto Mono";
}
  
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-bottom: 20px;
  text-align: center;
  display: inline-flex;
  width: 100%;
}

/*-------------------*/
/*     KEY TIPS      */
/*-------------------*/

.keyTips {
  opacity: 0.7;
  font-size: 1rem;
  color: var(--text-highlight);
}

.key {
  background-color: var(--text-highlight);
  color: var(--bg-color);
  padding: 1px;
}

/*-------------------*/
/*       TITLE       */
/*-------------------*/

.Title {
  flex-grow: 2;
  font-size: 3rem;
}

/*--------------------*/
/* LANGUAGE SELECTION */
/*--------------------*/

.selection_menu {
  position: relative;
  margin-left: 180px;
  padding: 5px 16px 5px 20px;
}

.selection_menu select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  font-size: 1.5rem;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 10px;
  right: 5px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--text-highlight) transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent var(--text-highlight) transparent;
  top: 5px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: var(--text-highlight);
  font-size: 1.5rem;
  padding: 5px 16px 5px 20px;
  
  border: 1px solid transparent;
  border-color: transparent transparent var(--text-color) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.3);
}

/*---------------------------------*/
/* MEASUREMENT PANEL (WPM,CPM,...) */
/*---------------------------------*/
  
.header {
  display: flex;
  align-items: center;
}
  
.timer, .errors, .accuracy,
.cpm, .wpm {
  height: 60px;
  width: 70px;
  margin: 8px;
  padding: 12px;
}
  
.cpm, .wpm  {
  display: none;
}
  
.header_text {
  font-size: 2rem;
}
  
.curr_time, .curr_errors,
.curr_accuracy, .curr_cpm,
.curr_wpm {
  font-size: 2.75rem;
  color: var(--text-highlight);
}

/*--------------------------*/
/* TEXT SCREEN + INPUT AREA */
/*--------------------------*/ 

.text_screen {
  font-size: 1.5rem;
  margin: 10px;
  padding: 25px;
}

.input_area {
  opacity: 0;
  background-color: transparent;
  height: 80px;
  width: 40%;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 15px;
  padding: 20px;
  border: 0px;
}

/*----------------*/
/* CHARACTER DIVS */
/*----------------*/

  .incorrect_char {
  color: var(--text-wrong);
  text-decoration: underline;
}
  
.correct_char {
  color: var(--text-correct);
}

.curr_char {
  border-right: .15em solid var(--cursor-col);
}

/*----------------*/
/* RESTART BUTTON */
/*----------------*/

.restart_btn{
  display:inline-block;
  padding:0.25em 2em;
  border:0.1em solid var(--text-color);
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-size: 1.5rem;
  font-weight:300;
  color:var(--text-highlight);
  background-color: transparent;
  text-align:center;
  transition: all 0.2s;
  
}

.restart_btn:hover, .restart_selected {
  color:var(--bg-color);
  background-color:var(--text-highlight);
}

 @media all and (max-width:30em){
  .restart_btn{
  display:block;
  margin:0.4em auto;
  }
}

/*---------------------*/
/* MODE SELECTION MENU */
/*---------------------*/

.mode_group {
  padding: 5px;
}

.mode_group > div {
  display: inline-block;
}

.mode_group > div:hover {
  cursor: pointer;
  color: var(--text-correct);
}

.mode_selected {
  color: var(--text-highlight);
}

.subgroup {
  padding: 2px;
}

.subgroup > div {
  display: inline-block;
}

.subgroup > div:hover {
  cursor: pointer;
  color: var(--text-correct);
}

.hidden {
  display: none;
}